#card-miss .best { left: 129px; top: 311px; }
#card-miss .current { left: 212px; top: 311px; }

#card-miss .diff { left: 299px; top: 311px; }

#card-miss img.diff { left: 272px; top: 302px; }

#card-miss .frame { top: -5px; }