#card-avatar .dj-name {
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 260px;
    color: white;
    text-align: center;
    width: 120px;
    font-size: 14.5px;
    letter-spacing: 0.5px;
    font-family: 'MotoyaLCedar';
    text-shadow: 0px 1px 0px #000000;
}

#card-avatar .image {
    position: absolute;
    z-index: 1;
    top: 16px;
    left: 261px;
    width: 120px;
    height: 130px;
    background-size: cover;
    background-position: 50% 50%;
}