#card-exscore #exscore-best { left: 129px; top: 282px; }
#card-exscore #exscore-current { left: 212px; top: 282px; }

#card-exscore #exscore-diff { left: 299px; top: 282px; }

#card-exscore img.diff { left: 272px; top: 272px; }

#card-exscore .frame { top: -4px; }